$navGray: #F8F9FA;
$grayText: #F8F9FA - #999999;
$darkBlue: #31373E;

$h1Size: 3rem;
$h2Size: 2rem;
$h3Size: 1.8rem;

$primaryFont: 'Abel';

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: $primaryFont;
    .container {
        // NAV Styling
        nav {
            background-color: $navGray;
            width: 100%;
            display: flex;
            a {
                text-decoration: none;
                color: inherit;
            }
            .navInner {
                width: 100%;
                margin: 5px auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    height: 120px;
                    margin: 0 auto;
                }
                .navMenu {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    padding: 10px 20px;
                    color: $grayText;
                    a:first-child {
                        font-weight: bold;
                    }
                }
            }
        }
        section {
            padding: 10px 15px 0 15px;
            img {
                width: 100%;
            }
            h1, h2, h3 {
                font-weight: 300;
                margin: 10px 0;
            }
            h1 {
                font-size: $h1Size;
            }
            h2 {
                font-size: $h2Size;
            }
            .infoBite {
                margin: 20px 0;
                padding-right: 20px;
                h3 {
                    margin: 10px 0;
                }
                p {
                    margin: 0;
                }
            } 
            .mapouter {
                overflow:hidden;
                height: 60vw;
                width:100%;
                align-self: center;
                iframe {
                    height: 100%;
                    width: 100%;
                }

            }
            .gmap_canvas {
                background:none!important;
                height: 60vw;
                width:100%;
            }
        }
        //Footer Styling
        footer {
            background-color: $darkBlue;
            min-height: 200px;
            margin-top: -100px;
            padding: 120px 15px 20px 15px;
            display: flex;
            flex-wrap: wrap;
            color: $navGray;
            justify-content: center;
            .navMenu {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 5rem;
            }
            
            a {
                color: #419BF9; 
            }
            #active {
                text-decoration: none;
                color: $navGray;
                font-weight: bold;
            }
        }
    }
}

@media (min-width: 600px) {
    body {
        .container {
            // NAV Styling
            align-items: center;
            nav {
                .navInner {
                    width: 60%;
                    flex-direction: row;
                    justify-content: space-between;
                    img {
                        margin: 0;
                    }
                    .navMenu {
                        flex-basis: 400px;
                    }
                }
            }
            section {
                width: 60%;
                margin: 0 auto;
                .info {
                    display: flex;
                    justify-content: space-between;
                    width: 80%;
                    .infoBite {
                        margin-right: 20px;
                    }
                }
                .mapouter {
                    max-height: 500px;
                    width: 100%; 
                }
            }
            footer {
                flex-direction: column;
                align-items: center;
                .navMenu {
                    width: 25%;
                }
            }
        }
    }
}
