

$navGray: #F8F9FA;
$grayText: #F8F9FA - #999999;
$darkBlue: #31373E;

$h1Size: 3rem;
$h2Size: 2rem;
$h3Size: 1.8rem;

$primaryFont: 'Abel';

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: $primaryFont;
    .container {
        // NAV Styling
        nav {
            background-color: $navGray;
            width: 100%;
            display: flex;
            a {
                text-decoration: none;
                color: inherit;
            }
            .navInner {
                width: 100%;
                margin: 5px auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    height: 120px;
                    margin: 0 auto;
                }
                .navMenu {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    padding: 10px 20px;
                    color: $grayText;
                    a:last-child {
                        font-weight: bold;
                    }
                }
            }
        }
        section {
            padding: 10px 15px 350px 15px;
            h1, h2, h3 {
                font-weight: 300;
                margin: 10px 0;
            }
            h1 {
                font-size: $h1Size;
            }
            h2 {
                font-size: $h2Size;
            }
           
        }
        //Footer Styling
        footer {
            background-color: $darkBlue;
            min-height: 200px;
            padding: 0px 15px 20px 15px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            color: $navGray;
            justify-content: center;
            img {
                margin: -160px 0 40px 0;
                height: 200px;
            }
            .navMenu {
                display: flex;
                justify-content: space-between;
                width: 70%;
                margin-bottom: 5rem;
            }
            
            a {
                color: #419BF9; 
            }
            #active {
                text-decoration: none;
                color: $navGray;
                font-weight: bold;
            }
        }
    }
}

@media (min-width: 620px) {
    body {
        .container {
            // NAV Styling
            align-items: center;
            nav {
                .navInner {
                    width: 60%;
                    flex-direction: row;
                    justify-content: space-between;
                    img {
                        margin: 0;
                    }
                    .navMenu {
                        flex-basis: 400px;
                    }
                }
            }
            section {
                width: 60%;
                margin: 0 auto;
               
            }
            footer {
                flex-direction: column;
                align-items: center;
                img {
                    margin: -300px 0 50px 0;
                    max-width: 800px;
                    height: unset;
                    max-height: unset;
                }
                .navMenu {
                    width: 25%;
                }
            }
        }
    }
}
